.CommentForm {
  width: 95%;
  margin-bottom: 30px;
}

.CommentForm-heading {
  font-size: 12px;
  margin-bottom: 8px;
  margin-top: 0;
}

.CommentForm-textarea {
  width: 100%;
  min-height: 76px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 10px;
  padding: 4px;

}

.CommentForm-buttons {
  display: flex;
  gap: 10px;
}


