.Cart-total-price {
    display: flex;
    justify-content: end;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 100px 0 0;
}

.Cart-total-title {
    text-align: right;
    padding-right: 1em;
}

.Cart-total-sum {
    text-align: right;
}

.Controls {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}
