.Profile {
    margin: 36px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Profile-title {
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 27.6px;
    margin-bottom: 10px;
}

.Profile-prop {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.Profile-label {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.7px;
}

.Profile-value {
    font-weight: 700;
}