.CommentCard-heading {
  display: flex;
  font-size: 12px;
  gap: 10px;
}

.CommentCard-text {
  margin: 10px 0;
  padding-right: 20px;
  font-size: 14px;
  overflow-wrap: break-word;
}

.CommentCard-author {
  font-weight: bold;
}

.CommentCard-date {
  color: #666668;
}

.CommentCard-reply {
  font-size: 12px;
  color: #0086e8;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-bottom: 24px;
  padding: 0;
}

.CommentCard-reply:hover {
  text-decoration: underline;
}

.CommentCard-authorized-author {
  color: #666666;
}