/* Контрол с общими действиями */
.BasketTool {
  display: flex;
  /*justify-content: flex-end;*/
  justify-content: space-between;
  padding: 20px;
  font-size: 18px;
}

.BasketTool-content {
	display: block;
    unicode-bidi: isolate;
}

.BasketTool-label {

}

.BasketTool-total {
  font-weight: bold;
  margin: 0 20px;
}

.BasketTool-home {
  color: #0888e5;
  text-decoration: underline;
  cursor: pointer;
}

